*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: #18C5D9;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #1C1046;
}